# ファイルの生成

In [1]:
import pandas as pd
 
# データフレームを作成
df = pd.DataFrame([
  ["0001", "Apple", 100],
  ["0002", "Orange", 80]],
  columns=['id', 'name', 'price'])
 
# ファイルに出力
df.to_csv("data/product.csv")
df.to_excel("data/product.xlsx")
df.to_json("data/product.json")

# csvファイル読み込み

In [2]:
import pandas as pd

df = pd.read_csv("data/product.csv")
df.head()

   Unnamed: 0  id    name  price
0           0   1   Apple    100
1           1   2  Orange     80

# エクセルファイル読み込み

In [3]:
import pandas as pd

df = pd.read_excel("data/product.xlsx")
df.head()

   id    name  price
0   1   Apple    100
1   2  Orange     80

# JSONファイル読み込み

In [4]:
import pandas as pd

df = pd.read_json("data/product.json")
df.head()

   id    name  price
0   1   Apple    100
1   2  Orange     80